<!--/team-->
<div class="team" id="team">
		<div class="container">
			<h3 class="tittle">About 
				<span>Us </span>
			</h3>
			<!--/about-section-->
			<div class="about-section agileits">
				<div class="col-md-6 ab-left">
					<div class="grid">
					
							<figure class="effect-jazz">
								<img src="assets/Gallery/Security/1.jpg" alt="img25" class="img-responsive">
								<figcaption>
									<h4>Arihant
										<span>Amara</span>
									</h4>						
								

								</figcaption>
							</figure>

					
						
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-6 ab-text">
						<p>Arihant Amara Residents Association (AARA) was registered under the Tamilnadu Societies Act and became functional effective 11th November 2013. </p>

						<p>AARA is managed by nine elected Committee Members, viz., a President, a Secretary, a Treasurer, a joint Secretary, a Vice-president and four other committee members. </p>
						
						<p>AARA's office is managed by an Office Manager and a Facility Manager, both on full-time basis. The office is open from 10.00 am to 6.00 pm on all working days to attend to the needs of the owners and residents. Land line - 004-4952 5005. </p>
					         

				</div>
				<div class="clearfix"> </div>
			</div>
			<!--//about-section-->
		
		</div>
	</div>
	<!--/team-->