<!-- facilities -->
<div class="gallery agile" id="gallery">
  <div class="container-fluid">
    <h3 class="tittle"> Our
      <span>facilities</span>
    </h3>   
    <div class="agile_gallery_grids w3-agile">
      <div class="row clearfix demo">
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Se.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Security and
                <span>House-keeping</span>
              </h4>
              <p>Vital services such as Security and House-keeping are managed by professional agencies appointed by AARA, ensuring
                24 hour guard and well kept premises. Besides, the CCTV cameras in and around the building ensures electronic
                surveillance adding safety to the residents of Arihant Amara. As an additional security, AARA has fitted
                Bio-access (finger-print) device to enter/exit the building at the gate. A CCTV exclusively records outsiders
                entering/exiting Arihant Amara.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Mn.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Maintenance and
                <span>Repair</span>
              </h4>
              <p>Plumbing and electrical work is supported by full-time in-house staff, facilitating quick solution to repairs
                and services the residents.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Sw.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Swimming
                <span>pool</span>
              </h4>
              <p>A large swimming pool in Arihant Amara is a great attraction to children and adults alike. Not many can boast
                of such a luxury in Chennai city.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
            <div class="gallery-grid1">
                <img src="assets/Gallery/Services/Gm.jpg" alt=" " class="img-responsive" />
                <div class="p-mask">
                  <h4>Gymnasium
                  
                  </h4>
                  <p>Your children can play in the Children's Park safely, while you relax with other residents chatting and sharing
                    pleasantries.</p>
                </div>
              </div>
        </div>
       
      </div>
      <div class="row clearfix demo">
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Cp.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Children's park and
                <span>play area</span>
              </h4>
              <p>Your children can play in the Children's Park safely, while you relax with other residents chatting and sharing
                pleasantries.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/G.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Reticulated or
                <span>CNG Piped-gas supply</span>
              </h4>
              <p>Every flat in Arihant Amara is fitted with uninterrupted CNG Piped-gas supply. You just have to pay according
                to the meter which shows your gas consumption, just like how you pay for your electricity. So no more ordering
                of gas cylinder and anxious wait to receive supply.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Pb.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>24 hour
                <span>Power backup</span>
              </h4>
              <p>The Elevators (lifts) and lights in common area (lobby) and car-park are covered by 24 hour Generator power
                back up.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/op.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Optic-fibre
                <span>internet Service</span>
              </h4>
              <p>Arihant Amara is one of the very first to get Optic-fibre technology in internet service, reaching up to 100
                Mbps speeds!</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row clearfix demo">
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Lm.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Intercom
                <span>linkage</span>
              </h4>
              <p>Intercom facility is available for those who have Airtel landline service. AARA office, Security gate, gymnasium
                and all other apartments who also have Airtel landline service are interlinked. This comes absolutely free
                for all Airtel landline users in Arihant Amara.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Li.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Laundry and
                <span>Ironing</span>
              </h4>
              <p>Your laundry and Ironing of your family clothes is collected at your door-step and returned to you neatly done,
                again at your door-step.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Ce.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Events for
                <span>children</span>
              </h4>
              <p>Companies showcase their products every now and then in Arihant Amara and sponsor events. You can expect Events
                for children and adults by companies like …..... Honda, Hyundai, Ford, International schools, Fashion Boutiques
                once in three months or so. Children love to participate in these events and win prizes.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="gallery-grid1">
            <img src="assets/Gallery/Services/Gd.jpg" alt=" " class="img-responsive" />
            <div class="p-mask">
              <h4>Garbage
                <span>Disposal</span>
              </h4>
              <p>Arihant Amara is a huge supporter of Clean india. Here in Arihant Amara garbage is segregated at home before
                disposal. Biodegradable items, recyclable items, soiled items, batteries, electronic items, etc.,</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- //facilities -->