<div class=" container" id="property">
	<div class="row" style="margin-bottom:10px;">
		<div class="col-md-6 agitsworkw3ls-grid ">
			<h3 class="tittle two">Contact
				<span>Details</span>
			</h3>
			<!-- Tabs -->
			<div class="tabs">
				<div class="sap_tabs">
					<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
						<ul class="resp-tabs-list">
							<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">
								<span>COME MEET US</span>
							</li>
							<li class="resp-tab-item" aria-controls="tab_item-1" role="tab">
								<span>CALL US TODAY</span>
							</li>
							<div class="clearfix"></div>
						</ul>

						<div class="resp-tabs-container">
							<h3 class="resp-accordion resp-tab-active" role="tab" aria-controls="tab_item-0">
								<span class="resp-arrow"></span>COME MEET US</h3>
							<div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">

								<p>Arihant Amara Residents Association (AARA)</p>
								<p>60/49, Poonamallee High Road,</p>
								<p>Gobarasanallur,</p>
								<p>Chennai - 600 056</p>
								<p>Land mark : Next to Aravind Eye Hospital</p>
							</div>
							<h3 class="resp-accordion" role="tab" aria-controls="tab_item-1">
								<span class="resp-arrow"></span>CALL US TODAY</h3>
							<div class="tab-2 resp-tab-content" aria-labelledby="tab_item-1">
								<p> Tel: 044-4952 5005(Office)</p>
								<p>Mob: 9500 043 653 (Office Manager)</p>
								<p>WRITE TO US</p>
								<p>General enquiries: arihantamaraa@gmail.com</p>

							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Tabs -->

		</div>
		<div class="col-md-6" style="background: #202020;
		padding-top: 40px;
		padding-bottom: 5px;">
			
			<!-- map -->
			<agm-map [latitude]="lat" [longitude]="lng" style="height:400px" [zoom]="zoom">
				<agm-marker [latitude]="lat" [longitude]="lng">
					<agm-info-window [disableAutoPan]="true">
						<b> Arihant Amara, Poonamallee, Chennai</b>
					</agm-info-window>
				</agm-marker>
			</agm-map>
			<!--// map -->
		</div>
	</div>
	<div class="clearfix"></div>

</div>

<!--/featured-projects-->
 <div class="featured-section" id="projects">
	<div class="container">		
		<div class="content-bottom-in">
			<ul id="flexiselDemo1">
				<li>
					<div class="project-fur">
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<img class="img-responsive" src="assets/img/amara/Slide2.jpg" alt="" /> </a>
					</div>
				</li>
				<li>
					<div class="project-fur">
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<img class="img-responsive" src="assets/img/amara/Slide3.jpg" alt="" /> </a>
					</div>
				</li>
				<li>
					<div class="project-fur">
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<img class="img-responsive" src="assets/img/amara/Slide4.jpg" alt="" /> </a>
					</div>
				</li>
				<li>
					<div class="project-fur">
						<a href="#" data-toggle="modal" data-target="#myModal1">
							<img class="img-responsive" src="assets/img/amara/Slide5.jpg" alt="" /> </a>
					</div>
				</li>
			</ul>

		</div>
	</div>
</div> 
<!--//featured-projects-->