<!-- //Stats -->
<div class="agitsworkw3ls container-fluid" id="property">

  <div class=" agitsworkw3ls-grid container-fluid">
    <h3 class="tittle two">Amara
      <span>Gallery</span>
    </h3>
    <!-- Tabs -->
    <div class="tabs">
      <div class="sap_tabs">
        <div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
          <ul class="resp-tabs-list">
            <li class="resp-tab-item" aria-controls="tab_item-4" role="tab" (click)="addsliderimages(4,'Gymnasium','gy',8)">
              <span>Gymnasium</span>
            </li>
            <li class="resp-tab-item" aria-controls="tab_item-5" role="tab" (click)="addsliderimages(5,'Security','security','7')">
              <span>Security</span>
            </li>
            <li class="resp-tab-item" aria-controls="tab_item-6" role="tab" (click)="addsliderimages(6,'Swimming Pool','sw',18)">
              <span>Swimming Pool</span>
            </li>
            <li class="resp-tab-item" aria-controls="tab_item-0" role="tab" (click)="addsliderimages(0,'AMARA 71st Independence Day','aid',29)">
              <span>AMARA 71st Independence Day</span>
            </li>
            <li class="resp-tab-item " aria-controls="tab_item-1" role="tab" (click)="addsliderimages(1,'Arihant Amara Building','aab',11)">
              <span>Arihant Amara Building</span>
            </li>
            <li class="resp-tab-item" aria-controls="tab_item-2" role="tab" (click)="addsliderimages(2,'Childrens Play Area Park','cpa',9)">
              <span>Children's Play Area Park</span>
            </li>
            <li class="resp-tab-item" aria-controls="tab_item-3" role="tab" (click)="addsliderimages(3,'Get together and Celebrations','gac',19)">
              <span>Get-to-gether and Celebrations</span>
            </li>


            <div class="clearfix"></div>
          </ul>

          <div class="resp-tabs-container">
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-4">
              <span class="resp-arrow"></span>Gymnasium</h3>
            <div class="tab-4 resp-tab-content" aria-labelledby="tab_item-4">
              <!-- gallery -->
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="gy">
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-5">
              <span class="resp-arrow"></span>Security</h3>
            <div class="tab-5 resp-tab-content" aria-labelledby="tab_item-5">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="security">
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-6">
              <span class="resp-arrow"></span>Swimming Pool</h3>
            <div class="tab-6 resp-tab-content" aria-labelledby="tab_item-6">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="sw">
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-0">
              <span class="resp-arrow"></span>AMARA 71st Independence Day</h3>
            <div class="tab-0 resp-tab-content" aria-labelledby="tab_item-0">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="aid">
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-1">
              <span class="resp-arrow"></span>Arihant Amara Building</h3>
            <div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="aab">
                    </ul>

                  </div>
                </div>
              </div>
            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-2">
              <span class="resp-arrow"></span>Children's Play Area Park</h3>
            <div class="tab-2 resp-tab-content" aria-labelledby="tab_item-2">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="cpa">
                    </ul>

                  </div>
                </div>
              </div>

            </div>
            <h3 class="resp-accordion" role="tab" aria-controls="tab_item-3">
              <span class="resp-arrow"></span>Get-to-gether and Celebrations</h3>
            <div class="tab-3 resp-tab-content" aria-labelledby="tab_item-3">
              <div class="gallery agile" id="gallery">
                <div class="container">
                  <div class="agile_gallery_grids w3-agile">
                    <ul class="clearfix demo" id="gac">
                    </ul>

                  </div>
                </div>
              </div>
            </div>


            <!-- //gallery -->
          </div>
        </div>
      </div>
    </div>
    <!-- //Tabs -->

  </div>

  <div class="clearfix"></div>

</div>
<!-- //Stats -->