<!--/banner-section-->
<div id="demo-1" data-zs-src='["assets/images/2.jpg", "assets/images/1.jpg", "assets/images/3.jpg"]' data-zs-overlay="dots">
  <div class="demo-inner-content">
    <!--/banner-info-->
    <!-- <div class="baner-info">
      <h3>Your
        <span>Edge</span> in
        <span>Real</span> Home</h3>
      <h4>Build Your Dream Villa</h4>
      <span>
        <img src="assets/images/logo2.png" alt="">
      </span>
    </div> -->
    <!--/banner-ingo-->
  </div>
</div>
<!--/banner-section-->

<!--/price-section-->
<div class="price-section">
  <div class="container">
    <div class="row">      
      <div class="col-md-6 ab-text">
        <b>
          <p>
            Arihant Amara, a gated community residential complex containing 120 apartments, is situated at the rim of Chennai city in
            Poonamallee. It has all the elements of a luxurious, safe and peaceful living.
          </p>
          <p> Arihant Amara is surrounded by
            <a href="https://www.proptiger.com/chennai/poonamallee-50300/schools">
              <b style="color:blue">Top-rated schools</b>
            </a> ,
            <a href="https://www.proptiger.com/chennai/poonamallee-50300/restaurants">
              <b style="color:blue">Restaurants</b>
            </a>,
            <a href="https://www.proptiger.com/chennai/poonamallee-50300/hospitals">
              <b style="color:blue">Hospitals</b>
            </a>, Temples , Churches and Mosques .
          </p>
          <p>
            We are neighbours to Arvind Eye Hospital, (Selliamman) செல்லிஅம்மன் temple and Saibaba temple with a mosque right across
            the street!
          </p>
          <p>
            Super markets like
            <b>Nilgris, Pazhamudhir, several departmental stores, banks, choice of shops for vegetarians and non-vegetarians,
              marriage halls are all only at walkable distance from Arihant Amara.
            </b>
            
          </p>
          <p>
            Above all Arihant Amara is blessed with abundant crystal clear ground water, something that many areas in Chennai cannot
            boast of. Reason why this area is called Senneer (meaning, clean water) Kuppam (செந்நீர் குப்பம்) Most of similar
            apartment complexes buy water at a cost or spend additional effort to refine the ground water.

            
          </p>
        </b>
       
      </div>
      <div class="col-md-6 plat">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="2000" data-pause="hover">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel1" data-slide-to="1"></li>
            <li data-target="#myCarousel1" data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <div class="item active">
              <div class="serv-w3ls1">              
                
                 
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/1.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>
                
            
              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/2.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>
              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/3.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/4.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/5.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>
              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/6.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>
              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/7.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/8.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/9.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
            <div class="item">
              <div class="serv-w3ls1">
                  <iframe [src]="url+'/assets/web/viewer.html?file=../Gallery/Notification/10.pdf' | safeUrl" height="400"  width="100%">

                  </iframe>

              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

<!--//price-section-->